* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    margin: 0, auto;
}

h2 {
    color: #4179e1;
}

h3 {
    color:#4179e1 ;
}

h4 {
    color: #4179e1;
}

h5 {
    color: #4179e1;
}

section {
    border-radius: 10px;
}

img.float-left {
    border-radius: 5px;
}

div.card {
    border-radius: 5px;
}

.card-text {
    font-size: medium;

}

footer p {
    columns: #000000;
    margin: 20px;
}